venv/
.env 
entorno/
env/

connect_engine.py

.ipynb_checkpoints


nasdaq_tickers_historic_clean.csv
nasdaq_tickers_info_clean.csv

__pycache__/

variaciones año

limpieza_df_inicial.py

obtencion_data_y_bbdd_update_clean.py
